<template>
    <div>
        Welcome {{user.firstName}} {{user.lastName}}
    </div>
</template>

<script lang="ts">
    import {Component, Vue,} from 'nuxt-property-decorator';

    @Component({
        name: 'App'
    })
    export default class App extends Vue {
        user = {
            firstName: 'Jan',
            lastName: 'Kowalski'
        }
    }

</script>

<style scoped>

</style>